h1 {
    text-shadow: 2px 2px;
  }
  body {
    background-color: lightblue;
  }
 
      p {
        border: 5px solid black;
        outline: #4CAF50 solid 5px; 
        padding: 10px;
        text-align: center;
      }